@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');


body {
    font-family: 'Roboto Mono', monospace;
}

.link-secondary {
    background-color: #feede8;
    text-decoration: none;
    color: #F7A288;
}

.link-secondary:hover {
    color: #C3806B;
}

.btn-outline {
    background-color: #fff;
    color: #95B6FF;
    border-color: #95B6FF;
    border-radius: 0;
    border-width: 2px;
    margin: 1em;
}

.btn-outline:hover,
.btn-outline:active,
.btn-outline:focus,
.btn-outline.active {
    background: #95B6FF;
    color: #ffffff;
    border-color: #95B6FF;
}
